<div class="container" style="margin: 30px auto">
    <div class="row">
        <div class ="col">
         <p class="text-right">Hola {{usuario}} ! <a class="btn btn-sm btn-danger" href="/admin/login/logout">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a></p>
        </div>
    </div>
    <div class="row" style="margin: 30px auto">
        <div class="col-7">
            <h3>Listado de Viajes</h3>
        </div>
        <div class="col-2 text-right">
            <a href="/admin/novedades/agregar" class="btn btn-success"> <i class="fa fa-plus"></i>Agregar</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Detalle</th>
                        <th scope="col" class="text-start">Descripción</th>
                        <th scope="col">Imagen</th>
                        <th scope="col" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each novedades}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td>{{subtitulo}}</td>
                        <td class="text-start">{{cuerpo}}</td>
                        <td>{{{imagen}}}</td>
                        <td class="text-end">
                            <a class="btn btn-secondary" href="/admin/novedades/editar/{{id}}">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a  class="btn btn-secondary" href="/admin/novedades/eliminar/{{id}}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>